.header {
  padding: 10px 10px;
  margin-bottom: 5px;
  border-bottom: solid black 2px;
  display: flex;
  justify-content: space-between;
}
.btnSection {
  align-content: center;
  flex-direction: row;
}

.btns {
  margin: 0px 5px;
}